.cart {
  background: white;
  bottom: 0;
  width: 1000px;
  height: 200px;
  margin: auto;
}

.cart .col-2 {
  border: 1px solid black;
  height: 100px;
}

.cart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.person {
  width: 1000px;
  margin: auto;
}
.person img {
  width: 100%;
}
.person .content {
  padding: 100px;
}
.person .content .img {
  position: relative;
}
.person .content .img .img-v {
  position: absolute;
  top: 25%;
  left: 23%;
  width: 55%;
}
.person .content .img .content-text {
  background: orange;
  position: absolute;
  bottom: 0;
  left: 0;
}

.dark {
  background: black;
  color: white;
}

.light {
  background: white;
  color: black;
}